@media screen and (max-width:600px) {
    .box-reunioes{
        width: 100%;
        min-height: 100vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20vh 5vw 20vh;
        gap: 5vw;
    }
    .button-input-reuniao{
        position: fixed;
        top: 4vh;
        left: 30vw;
        font-size: 1rem;
        padding: 2vh;
        border-radius: 5px;
        background-color: #CD47FD;
        color: white;
    }
}
@media screen and (min-width:900px) {
    .box-reunioes{
        width: 100%;
        min-height: 100vh;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5vh 5vw 20vh;
        gap: 5vw;
    }
    .button-input-reuniao{
        position: fixed;
        top: 2vh;
        left: 80vw;
        font-size: 1rem;
        padding: 2vh;
        border-radius: 5px;
        background-color: #CD47FD;
        color: white;
    }
}
