*{
    margin: 0;
    padding: 0;
}

a:hover{
    opacity:0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* Definição de fonte (Opcional)*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #2F2F2F;
    height: 8vh;
    /* Definição de sombras (Opcional) */
    box-shadow: 0 0.1rem 0.5rem #f1dbdb;
}

.nav-list {
    list-style: none;
    display:flex
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

main{
    background-color:#2F2F2F ;
    height: 100%;
}

.home{
    padding-top: 5%;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #CD47FD;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-text{
    padding-left: 15%;
    visibility: hidden;
}
.home-img{
    padding-right: 15%;
    padding-bottom: 5%;
}
.quem-somos{
    padding-top: 5%;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.quem-somos-text{
    padding-right: 15%;
    color: white;
}
.quem-somos-img{
    padding-left: 15%;
    padding-bottom: 5%;
}
.Big-Numbers{
    padding-top: 5%;
    display:flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* Definição de fonte (Opcional)*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size:300%;
    color: white;
    visibility: hidden;
}
.Kanban{
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Kanban-text{
    padding-right: 20%;
    color: white;
}
.Kanban-img{
    padding-left: 15%;
    padding-bottom: 5%;
}
